body{
    background-color: rgb(193, 216, 236);
}
#Score{
font-size: medium;

float: left;
}

#show_sketch{
    float: right;
}

#time{
    float: right;

    font-size: medium;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name:glow;
    animation-duration:5s;
    margin-top: 50px;
      animation-iteration-count: infinite;
}
@keyframes glow{
    from{box-shadow: 1px 1px 38px rgb(139, 222, 243);}
    to{box-shadow: 1px 1px 38px  rgb(155, 224, 241);}

}

p{
    padding-top:10px;
    font-size:25px;
}